<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hello</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
    <div class="main">
        <div class="sec-one">
            <h3 class="h3">Welcome,</h3>
            <p class="">Login to continue!</p>
          
            <form method="post" action="/login">
                <input class="" type="email" placeholder="Email" name="email">
                <input class="" type="password" placeholder="Password" name="password">
                <input class="button" type="submit" value="Log in" >
                <p class="para">Don't have an account? <a href="/">Sign up</a></p>
            </form>
        </div>
        <div class="sec-two">
            <img class="hide" src="https://img.freepik.com/free-vector/tablet-login-concept-illustration_114360-7893.jpg?t=st=1731516020~exp=1731519620~hmac=85cfc4fcd2536c53afd0f6c5f60920e840f23f8459d3de701a13561f6a546301&w=740" alt="">
        </div>
    </div>
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'montserrat',sans-serif;
        }
        html,body{
            width: 100%;
            height: 100%;
        }
       .main{
        width: 100%;
        height: 100%;
        display: flex;
       }
       .sec-one{
        width: 50%;
        height: 100%;
       }
       h3{
        font-size: 2.5vw;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 1vw;
       }
       p{
        display: flex;
        align-items: center;
        justify-content: center;
       font-size: 2vw;
       }
       .sec-one form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 4vw;
        outline-style: none;
       }
       input{
        align-items: center;
        justify-content: center;
        padding: 2vw;
        outline: none;
        width: 35vw;
        font-size: 1.5vw;
       
       }
       .button{
        margin-top: 7vw;
        background-color: rgba(0, 128, 0, 0.473);
        padding: 1vw;
        border-radius: 3vw;
 
       }
       .para{
        margin-top: 1.5vw;
        font-size: 1.2vw;
       }
       a{
        color: blue;
       }
       a:hover{
        text-decoration: underline;
       }
       .sec-two{
        width: 50%;
        height: 100%;
       }
       .sec-two img{
        height: 100%;
        width: 100%;
       object-fit: cover;
       }
       @media screen and (max-width: 800px) {
        .hide{
            display: none;
        }
        .main{
            height: 100%;
            width: 100%;
        }
        .sec-two{
            display: none;
        }
        .sec-one{
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            left: 10%;
        }
        h3{
            margin-top: 8vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 4vh;
            width: 100%;
        }
        p{
            font-size: 2.1vh;
        }
        form{
            margin-top: 1vh;
            display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 4vh;
        outline-style: none;
        }
        input{
            margin-top: 5vh;
            align-items: center;
        justify-content: center;
        padding: 2vw;
        outline: none;
        width: 40vh;
        font-size: 3vh;
        }
        .button{
        margin-top: 18vh;
        background-color: rgba(0, 128, 0, 0.473);
        padding: 1vh;
        border-radius: 2.7vh;
        }
       }
    </style>
</body>
</html>